@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
body {
  font-family: "Helvetica", Arial, sans-serif;
}

.theme-light {
  background-color: #f4f4f4;
  color: #333333;
}

.theme-dark {
  background-color: #333333;
  color: #f4f4f4;
}
